nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color:burlywood;
    

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black
}
a:hover{
    color:crimson
}
nav h1 {
    color:black
}

nav a {
    color:black
}

nav ul{
    display: flex;
    gap: 1.9rem;
}

section.hero{
    background-image:url(image/clouds.png);
    background-size: cover;
    
     
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }
.hero-img {
    height: 37.5rem;
    width: 37.5rem;

}
.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
  }
.bio-title {
    color:black;
}
.bio-text{
    color:black
}

section.projects{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.projects-title{
    background-color: burlywood;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.projects-first-title{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.projects-description{
    display:flex;
    font-size: small;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.projects{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
}
.contact h2{
    text-align: center;
    background-color:burlywood;
}